
@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-label {
    @apply border border-gray-200 h-8 rounded-full bg-[#e9effd] focus-within:border-4 px-2 text-[#5b6e6f] text-xs;
  }
  
  label{
    @apply  flex items-center text-[#4b5563];
  }
  

input{
    border-radius: 10px;
    border-color: #e5e7eb;
  }
  
  label{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight:500
  }