<div class="w-screen h-fit flex flex-col items-center justify-center bg-white p-10">
  <div class="w-full m-10 flex justify-center"><app-infocard></app-infocard></div>
  <div class="h-fit flex space-x-10">
  <div class="div1 h-full flex flex-col flex-grow-1 space-y-5  ">
    <fieldset class="h-fit w-full border-2 p-5 flex flex-col space-y-2">
      <legend class="px-2 border-2 rounded-lg font-semibold text-[#9ca3af]">User details</legend>
      <app-input name="Name" type="text"></app-input>
      <app-input name="Phone" type="number"></app-input>
      <app-input name="Date of Event" type="date"></app-input>
      <app-input name="Location of the Venue" type="text"></app-input>
      <app-input name="No of attenders" type="number"></app-input>
      <app-input name="Enter Pincode" type="number"></app-input>
      <div class="h-fit w-full flex  justify-center">
        <div class="h-fit bg-[#2563eb] rounded-full w-32 flex justify-center">
          <button class="bg-[#2563eb] rounded-r-full text-white">Fetch Vendor</button>
        </div>
      </div>
    </fieldset>
    <div class="w-full flex justify-center">
      <div class="rounded-full text-xl text-white bg-[#2563eb] h-fit w-fit px-5 py-1">
        <button (click)="executeChildMethod()">SUBMIT</button>
      </div>
    </div>
  </div>
  <div class="div2 w-fit flex items-center justify-evenly ">
    <app-stepper-form></app-stepper-form>
  </div>
</div>
</div>