<div class="h-fit w-fit shadow-lg rounded-lg p-4 space-y-4 bg-white">
    <div class="  text-black text-center flex space-x-4 items-center justify-center">
    <div class="size-10 flex justify-center items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
      <rect width="256" height="256" fill="none" />
      <circle cx="128" cy="128" r="96" fill="none" stroke="#2563eb" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="16" />
      <path d="M120,120a8,8,0,0,1,8,8v40a8,8,0,0,0,8,8" fill="#2563eb" stroke="#2563eb" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="16" />
      <circle cx="124" cy="84" r="12" fill="#2563eb" />
    </svg></div>
    
    <p class="w-72  text-gray-700 info">On fill the form you will recive a call from our Team</p>
    </div>

  </div>