<div class=" flex flex-row space-x-4">

<div class="w-fit  h-fit border-2 rounded-md space-y-4">
    <div class="detail w-full h-8 bg-[#b6e8f3] space-x-2 flex items-center justify-center">
        <span class="labelinfo">Gowtham ear piecering</span>
        <span>|</span>
        <span class="labelinfo">30-2-2024</span>
        <span>|</span>
        <span class="labelinfo">location of event</span>
    </div>
    <div class="w-full listheader flex flex-wrap ">
        <span class="vendorlistname w-36 font-semibold text-center">Vendor</span>
        <span class="listspan mr-2">Accepted</span>
        <span class="listspan mr-2">Requirement meeting</span>
        <span class="listspan mr-2">Bill finalised</span>
        <span class="listspan mr-2">Advance Payment</span>
        <span class="listspan mr-2">Event</span>
        <span class="listspan mr-2">Feedback</span>
        <span class="listspan mr-2">Full Payment</span>
    </div>
    <div class="flex flex-col space-y-4 ">

    <app-list-event vendorName="Food" ></app-list-event>
    <app-list-event vendorName="Venue" ></app-list-event>
    <app-list-event vendorName="Decor" ></app-list-event>
    <app-list-event vendorName="Entertainment" class="text-sm "></app-list-event>
    
</div>
<div class="w-full h-2"></div>
   </div>

   <div class="main flex flex-grow h-full border-2 rounded-md">
    {{vendetails}}
   </div>

</div>