<div class="w-fit h-16 flex items-center justify-evenly  space-x-4" >
    <span class="w-32 text-center text-wrap text-sm">{{vendorName}}</span>
    <div class="list ">
        <div class="pod" ><img src="../../../assets/pending.svg" alt="" srcset=""></div>
    </div>
    <div class="list ">
        <div class="pod" ><img src="../../../assets/pending.svg" alt="" srcset=""></div>
    </div>
    <div class="list ">
        <div class="pod" ><img src="../../../assets/pending.svg" alt="" srcset=""></div>
    </div>
    <div class="list ">
        <div class="pod" ><img src="../../../assets/complete.svg" alt="" srcset=""></div>
    </div>
    <div class="list ">
        <div class="pod" ><img src="../../../assets/complete.svg" alt="" srcset=""></div>
    </div>
    <div class="list ">
        <div class="pod" ><img src="../../../assets/complete.svg" alt="" srcset=""></div>
    </div>
    <div class="list ">
        <div class="pod" ><img src="../../../assets/complete.svg" alt="" srcset=""></div>
    </div>
    
  

</div>