<div class="card h-64 flex">
    <div class="w-1/2 flex items-center justify-center">
      <div><img src="../../../assets/newuser.svg" alt="" class="size-72"></div>
    </div>
    
    <!-- First Div for initial state -->
    <div class="w-1/2 space-y-6" [ngClass]="isVisible ? 'invisible' : 'visible'">
      <span class="p-text-secondary block mb-5 font-semibold">Enter your Phone Number</span>
      <div class="flex  items-center justify-center text-center border-2 border-l-8 border-blue-600 bg-[#c5e3fc] space-x-3">
        <div class="size-8"  >
          <img src="../../../assets/info.svg" alt="" srcset="" >
        </div>
        <div class="w-3/4">Once Phone No is entered, an OTP will be sent to your phone</div>
      </div>
      <div class="flex justify-between gap-3 mb-5">
        <label for="phone_no" class="font-semibold">Phone No</label>
        <input id="phone_no" class="flex-auto inputbox" autocomplete="off" [(ngModel)]="phone_no" />
      </div>
      <div class="flex justify-between gap-2">
        <button class="btn" (click)="cancel()">Cancel</button>
        <button class="btn" (click)="submit()">Get OTP</button>
      </div>
    </div>
  
    <!-- Second Div for post-submission state -->
    <div class="w-1/2 space-y-6" [ngClass]="isVisible ? 'visible' : 'invisible'">
      <span class="p-text-secondary block mb-5">Enter OTP</span>
      <div class="flex items-center justify-center text-center">
        <div class="w-3/4">An OTP has been sent to your phone and registered email.</div>
      </div>
      <div class="flex justify-evenly ">
        <label for="otp" class="font-semibold">OTP</label>
        <p-inputOtp [(ngModel)]="value" />
      </div>
      <div class="flex justify-between gap-2">
        <button class="btn" (click)="cancel()">Cancel</button>
        <button class="btn" (click)="verifyOtp()">Verify OTP</button>
      </div>
    </div>
  </div>
  